@using Benjis_Shop_Toolbox.Components.Layout.TopBar
@using Benjis_Shop_Toolbox.Components.Layout.SideBar
@inherits LayoutComponentBase
<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />
<MudThemeProvider Theme="@ModernTheme.Morphtheme"/>
    
<MudLayout>
    <SideBar @bind-Open="_drawerOpen" />
    <TopBar OnMenuClick="ToggleDrawer"/>
    
    <MudMainContent>
        <div style="height: calc(100dvh - var(--mud-appbar-height));" class="content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;

    void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}
