bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/

# Scratch/Temp code exports
tmp_*.txt
**/tmp_*.txt

# Specific binaries and PDBs to ignore
[Tt]oolbox.[Dd]ata.pdb
[Tt]oolbox.[Tt]ray[Ii]con.exe
[Tt]oolbox.[Tt]ray[Ii]con.pdb
[Tt]oolbox.[Uu]pdater.exe
[Tt]oolbox.[Uu]pdater.pdb

/Toolbox/TrayPublish/*.exe
/Toolbox/TrayPublish/*.pdb
/Toolbox/UpdaterPublish/*.exe
/Toolbox/UpdaterPublish/*.pdb

# publish/output
Toolbox/UpdaterPublish/
Toolbox/TrayPublish/

# allgemein
bin/
obj/
