@using Benjis_Shop_Toolbox.Themes
@using ElectronApp.Components.Layout.SideBar
@using ElectronApp.Components.Layout.TopBar
@inherits LayoutComponentBase

<MudThemeProvider Theme="@ModernTheme.Morphtheme"/>
<MudPopoverProvider />

@* Needed for dialogs *@
<MudDialogProvider />

@* Needed for snackbars *@
<MudSnackbarProvider />
<MudLayout>
    <SideBar @bind-Open="_drawerOpen" />
    <TopBar OnMenuClick="ToggleDrawer"/>
    
    <MudMainContent>
        <div style="height: calc(100dvh - var(--mud-appbar-height));" class="content">
            @Body
        </div>
    </MudMainContent>
</MudLayout>

@code {
    private bool _drawerOpen = true;

    void ToggleDrawer()
    {
        _drawerOpen = !_drawerOpen;
    }
}
