@page "/My4Sellers"
@using ElectronApp.Models
@using Microsoft.AspNetCore.Html
@inject MessageCheckerService MessageChecker
@implements IDisposable

<h3>My4Sellers</h3>

@if (MessageChecker.Messages.Any())
{
    foreach (var ding in MessageChecker.Messages)
    {
        foreach (var item in ding.content)
        {
            @((MarkupString)item)
        }
    }
}

@code {
    protected override async Task OnInitializedAsync()
    {
        MessageChecker.OnChange += StateHasChanged;
        await MessageChecker.CheckNowAsync();
        MessageChecker.MarkAsRead();
    }

    public void Dispose()
    {
        MessageChecker.OnChange -= StateHasChanged;
    }
}
